*{
    box-sizing: border-box;
}
body {
    background: url( '/static/images/images.jpg' );
    height: 100%;
}
a {
    text-decoration: none;
}

.f-content {
    margin-left: 80%;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 45%;
    background-color: chartreuse;
    width: 280px;
    height: 25px;
    text-align: center;
    position: fixed;
}
.heading {
    position: fixed;
    text-align: center;
    margin-left: 12%;
    font-size: 40px;
    background-color: rgba(18, 206, 18, 0.747);
    width: 75%;
    height: 60px;
    border-radius: 15px;
}
.heading > .container {
    top: 0;
    padding-left: 40px;
}

#header{
    top: 15%;
    
}

.image-content {
    text-align: center;
    border-radius: 30%;
}

.image-content img {
    border-radius: 40%;
    width: 700px;
}

.footer {
    text-align: center;
    margin-bottom: 0 auto;
}

#social {
    text-align: center;
    margin: 0% auto;
    font-size: 25px;
    padding: 30px;
    top: 80%;
}
#whatsapp {
    color: white;
    border-radius: 15px;
    padding: 5px;
    background-color: green;
}
#facebook {
    color: rgb(47, 47, 190);
    padding: 7px;
    border-radius: 15px;
    background-color: white;
}
#twitter {
    color: white;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(95, 95, 224);
}
#instagram{
    color: white;
    padding: 5px;
    border-radius: 15px;
    background-image: linear-gradient(rgb(72, 72, 202),rgb(207, 17, 207),rgb(126, 121, 121));
}

h1 {
    text-align: center;
}

.dropbtn{
    font-size: 25px;
    width: 160px;
    border-radius: 10px;
    background-color: white;
    color: dodgerblue;
    padding: 20px;
    border: none;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: chartreuse;
    min-width: 170px;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0,2);
    z-index: 1;
    border-radius: 10px;
}
.dropdown-content a{
    color: black;
    padding: 7px 10px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ddd;
    border-radius: 15px;
}
.dropdown:hover .dropbtn{
    background-color: #3e8e41;
}
.dropdown:hover .dropdown-content{
    display: block;
}