{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <title>app_rice</title>
</head>
<body>
    <div class="contact">
        <h1 >
            Contact Us.<br>
            You can reach the BOM VIA THE Email or contact below.
        </h1>
        <nav>
            Gmail: &nbsp;<a href="malito:charlesmagoba@gmail.com?Contact us=%20Query">email us:&nbsp; charlesmagoba@gmail.com</a><br>
            Contact: &nbsp;<a href="tel:0712345678">Make a Call</a>
            <br>
        </nav>
    </div>
</body>
</html>