{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/answers.css' %}">
    <title>frequently ask questions</title>
</head>

<body>
    <div class="container">
        <div class="content-header">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'plant' %}">Farms & Plants Growth</a></li>
                <li><a href="{% url 'treatment' %}">Treatments</a></li>
                <li><a href="{% url 'medicine' %}">Medicines</a></li>
                <li><a href="{% url 'available' %}">Items On Sale</a></li>
                <li><a href="{% url 'aboutUs' %}">About Us</a></li>
                <li><a href="{% url 'contactUs' %}">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <header>The Frequently Asked Questions And Thier Answers</header>
    <b>1. What is SRI</b><br>
    The System of Rice Intensification, or SRI -- le Système de Riziculture Intensive in French and la Sistema Intensivo
    de Cultivo Arrocero (SICA) in Spanish -- is a climate-smart and agroecological methodology to increase the
    productivity of irrigated rice (and, more recently, other crops) by changing the management of plants, soil, water
    and nutrients. Using the SRI methodology, yields are increased by 20-50% or more, while reducing inputs: seed by
    90%, irrigation water by 30-50%, chemical fertilizer by 20-100%, and usually reduced need for pesticides. For the
    farmer, SRI brings greater returns to labor, land and capital.
    <br><br>
    WHAT ARE THE UNDERLYING PRINCIPLES OR SRI?<br>
    SRI methodology is based on four main, interacting principles:<br>

    Establishing plants early and quickly, to favor healthy and vigorous root and vegetative plant growth.<br>
    Maintaining low plant density to allow optimal development of each individual plant and to minimize competitions
    between plants for nutrients, water and sunlight.<br>
    Enriching soils with organic matter to improve nutrient and water holding capacity, increase microbial life in the
    soil, and to provide a good substrate for roots to grow and develop,<br>
    Reducing and controlling the application of water, providing only as much water as necessary for optimal plant
    development and to favor aerobic soil conditions.<br>

    Based on these principles, farmers adapt SRI practices to their climate zone, and to their agroecological and
    socioeconomic conditions. Most common adaptations respond to soil conditions, water control, changing weather
    patterns, access to organic inputs, the decision to practice fully organic agriculture or not, access to labor,
    mechanization, and other socioeconomic factors.
    <br>
    In addition to irrigated rice, the SRI principles have been applied to rainfed rice and to other crops, such as
    wheat, sugarcane, teff, finger millet, mustard, and pulses all of which show increased productivity over current
    conventional planting practices. When SRI principles are applied to other crops, we refer to it as the System of
    Crop Intensification or SCI (see SCI section of the website for details.)
    <br><br>

    <b>2. What are the main environmental, economic, and social benefits of applying the SRI methodology?</b></a>
    <br>
    Benefits include increased yields of 20-50% or more, a reduction in seed use of 80-90%, and up to 50% water savings.
    SRI methods have shown these significant benefits across all ecological zones in over 50 countries, and have been
    adopted largely by smallholder farmers in Asia, Africa, and Latin America and the Caribbean.
    <br>
    By reducing inputs of seed, water, chemical fertilizers, and in some cases of labor, SRI gives greater returns to
    farmers' available resources of land, water, labor and capital, and can lower their production costs. This increases
    farmers' incomes and increases the profitability of rice farming.
    <br>
    Use of pesticides can be decreased because SRI plants are stronger and healthier. Disease pressure is reduced when
    plants are widely spaced because humidity levels in the plant canopy are lower than in more densely planted
    conventional fields.
    <br>
    Use of chemical fertilizer can be reduced significantly as fertilizer use efficiency increases in soils enriched
    with organic matter. As soils improve in structure and become more fertile through periodic organic matter
    amendments, less fertilizer is needed to achieve a targeted production level. If the soil is sufficiently fertile,
    use of chemical fertilizer can be eliminated.
    <br>
    Because plants are stronger and more deeply rooted, SRI crop stands show greater resilience towards drought, strong
    winds and storms. These hazards are becoming more frequent and more extreme with climate change.
    <br>
    Also, farmers note that SRI management usually shortens their crop cycle by 1-2 weeks. This frees up their land for
    other uses, and reduces their crops' exposure to climatic stresses and pest and disease risks.
    <br>
    SRI paddy rice usually produces about 10% higher outturn of polished rice when milled, because of fewer unfilled
    grains and less chaff. Fuller grains, reduced chalkiness and reduced breakage of grains during milling, further
    improves grain quality, which translates often in a higher price and return for the farmer.
    <br>
    Additional environmental benefits include:
    <br>
    Increased water availability at the landscape level or for other consumption needs, as irrigation water use can be
    reduced by up to 50% with SRI management,<br>
    Improved soil and water quality, through the reduction of agrochemical use,<br>
    Increase in soil carbon pools through the additions of organic matter to soils and residues from larger root
    systems.<br>
    Reduction in methane emissions from rice paddies through non-flooded rice paddy conditions; thus far, although more
    research is needed, evaluations have not shown any offsetting increase in nitrous oxide emissions.<br>
    Maintaining the biodiversity of rice cultivars can be enhanced, as local varieties become more productive and thus
    more attractive for farmers to grow.<br><br>

    <b>3. Where did SRI originate?</b></a>
    <br>
    SRI was developed in Madagascar by a French priest, Father Henri de Laulanié, S.J., who spent 34 years (1961-1995)
    working with farmers there to improve rural livelihoods through increased rice productivity. The main practices of
    SRI were synthesized by the mid-1980s. With Malagasy colleagues, Laulanié established a local non-profit,
    Association Tefy Saina, in 1990, which promoted the knowledge of the SRI methodology and its use as part of a
    holistic rural development strategy.<br><br>

    <b>4. How has the SRI methodology spread around the world?</b></a>
    <br>
    Tefy Saina and the Cornell International Institute for Food, Agriculture and Development (CIIFAD) began working
    together in 1994 on a USAID-funded project to conserve the rainforest ecosystem of Ranomafana. Following three years
    of on-farm comparisons, which showed consistent increases in farmers' yields from 2 tons/ha to 8 tons/hectare,
    CIIFAD first began bringing the SRI methodology to international attention after 1997.
    <br>
    Outside Madagascar, higher rice productivity using SRI methods was first validated in China and Indonesia during
    1999-2000. The following year, similar results were reported from Cambodia, Philippines, Cuba, Sri Lanka, India,
    Myanmar, the Gambia, and Sierra Leone. By 2002, SRI methods had been validated in 15 countries; by early 2013, this
    number had grown to 51, including most of South and Southeast Asia, and also various countries in sub-Saharan
    Africa, the Middle East, and Latin America and Caribbean (see SRI countries).
    <br>
    The SRI website maintained at Cornell University by the SRI International Network and Resources Center (SRI-Rice)
    has catalyzed widespread distribution of SRI information -- experiences, problems, solutions, innovations, etc. -
    supported by extensive and continuous email communication among members of the international network. Jim Carrey's
    Better U Foundation supports the work of SRI-Rice to catalyze worldwide spread of SRI methodology and practice.
    Within many countries, SRI users have formed their own networks, including list-serves, websites, or blogs. All SRI
    information is freely available and open access.
    <br>
    The knowledge and practice of SRI has spread through the efforts of a growing network of interested persons and
    institutions: NGOs, universities or research institutions, government agencies, the private sector; and most of all
    by farmers themselves. CIIFAD has played a central role in networking and knowledge-sharing since 2000.<br><br>

    <b>5. How does SRI benefit poor households?</b></a>
    <br>
    Poor households usually have very limited access to land and capital, so raising yield per unit area with reduced
    outside inputs is of great importance. The first objective for poor farmers is usually to feed their own families.
    Higher yields of 20-50% or more have a significant impact on farm families' food security. When food security is
    assured, households can diversify their economic activities, either on-farm or off-farm.
    <br>
    As SRI is a knowledge-based intensification method, poor farmers are less dependent on outside inputs and can
    improve their agricultural crop production with locally available resources. Once the SRI methodology is adopted by
    a large segment of the farmers, it can be expected that with more local rice available and reaching markets in
    greater abundance, the urban poor will also benefit from lower rice prices and good-quality local rice, and being
    less exposed to fluctuating prices of imported rice.
    <br>
    It should be noted that SRI has spread most quickly among poorer producers, which in turn has led governments,
    research organizations and development agencies to pay attention to this novel approach to agricultural
    intensification as a poverty-reduction strategy, with positive environmental benefits, particularly
    water-saving.<br><br>

    <b>6. How can SRI also benefit larger farmers?</b></a>
    <br>
    Because SRI capitalizes on biological processes, on the genetic potentials of the crop, and on the
    plant-soil-microbial interactions, its application and benefits are scale-neutral. The SRI principles for
    intensifying agriculture are available to any producer, who can adapt the cropping practices to suit local
    conditions. Efforts to mechanize transplanting, direct-seeding, and weeding are underway in a number of countries
    for small-scale to large-scale agriculture. We expect that SRI principles will soon be utilized at different
    scales.<br><br>

    <b>7. Can SRI outperform "best management practices"?</b></a>
    <br>
    It has been argued that SRI may improve upon farmers' original practices, but not above the best management
    practices proposed by rice scientists. There are reports by farmers of exceptionally high yields by a SRI farmer in
    Bihar state in India and elsewhere, but yield is not the only factor that matters in crop production. Best
    management practices often depend heavily upon outside resources such as improved seeds in large quantities for
    densely planted fields, and large amounts of water and agrochemicals. SRI practices optimize the use of local
    resources, and significantly reduce the amount of seeds, water and agrochemicals needed, while at the same time
    increasing yields.<br><br>

    <b>8. Does SRI require specific plant varieties?</b></a>
    <br>
    SRI methodology is a management approach, and does not require new varieties. Improved plant performance can be
    observed with practically any variety when cultivated with SRI methods. This is because the plants can better
    express their genetic potential when grown in a more optimal environment. High-yielding varieties or traditional
    ones, hybrids or landraces, all perform better when planted with SRI methods, although some varieties respond better
    than others.
    <br>
    Farmers show greater interest in growing local varieties when using the SRI methodology, as their higher yield level
    makes them more profitable. Farmers often prefer local varieties for their adaptation to local soil and climate
    conditions, and better pest and disease resistance. Most consumers prefer them for their taste. SRI methods allow
    farmers to maintain and increase the diversity of planted rice varieties, something that has been diminishing in
    recent years.<br>

    <b>9. Does SRI have anything to do with genetically-modified organisms (GMOs)?</b></a>
    <br>
    SRI gains are achieved through better crop management and can be observed with any variety, although invariably some
    varieties respond and perform better than others under SRI management. Thus, SRI methods could be used with GMOs, as
    SRI is also used with hybrids. Currently, no GM rice is planted commercially worldwide, but advances on developing
    and testing GM rice are made, for instance with the beta-carotene enriched Golden Rice.
    <br>
    As SRI yield improvements and other benefits are greater than what is usually expected from making genetic
    modifications, the SRI system can be considered a direct alternative to GMOs. Especially when considering the time
    and large funding necessary to develop GMOs, the SRI method offers the advantage that it can be applied immediately
    with little or no additional costs, with farmers' varieties and local resources. There are no intellectual property
    rights involved, and this option is available for anyone. It makes the high investments in the development and use
    of GMOs less urgent for meeting world food needs.<br><br>

    <b>10. Is SRI an "organic" system of production?</b></a>
    <br>
    Enriching and improving soils with organic matter is one of the four basic principles of SRI. As soils are improved
    through organic matter additions, many nutrients become available to the plant from the organic matter.
    Additionally, the soils are able to hold more nutrients in the rooting zone and release them when the plants need
    them. Depending on the yield level and on the farming system, some farmers use exclusive organic fertilization for
    their SRI plots. The majority of farmers complement the organic matter amendment with chemical fertilizers, most
    often urea, in order to achieve a balanced fertilization of the crop.
    <br>
    We note that when chemical fertilizers cannot reach rural communities due to political instabilities, destructive
    climate events, or infrastructure problems, or are unaffordable for poor farmers, SRI farmers have the knowledge to
    produce high rice yields, whereas with conventional farming methods, dependence on external inputs makes farmers
    more vulnerable to outside events or the constraints of poverty.<br><br>

    <b>11. What are the reasons for farmers to change their current rice-growing practices?</b></a>
    <br>
    Smallholder farmers in Africa, Asia and Latin America often find it difficult to improve their production following
    conventional intensification recommendations. The Green Revolution paradigm, in its original or revised forms,
    requires improved seeds, fertilizers and other chemical inputs, which are often unaffordable or unavailable to
    farmers.
    <br>
    Many farmers who have used chemical fertilizers experience stagnation and decrease in crop productivity over time,
    as their soils' fertility is slowly diminishing. This is a result of substituting improving soil fertility naturally
    with the exclusive use of fertilizers.
    <br>
    Thus, the SRI methodology is an alternative that represents a new direction of regaining agricultural productivity
    through ecological and natural processes. Many smallholders in Africa, Asia and Latin America are quickly ready to
    test the practices and adapt them to their conditions. In most cases, it has been farmers themselves who have taken
    the lead in spreading and refining these new crop management ideas, followed only later by technicians and
    researchers.<br><br>

    <div class="container-footer">
        <div class="content-footer">
            <ul>
                <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="{% url 'faqs' %}">FAQs</a></li>
            </ul>
        </div>
    </div>
</body>
</html>