{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/hom.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>app_rice</title>
</head>

<body>
    <div class="f-content">
        <div class="del_account">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Log Out</a>&nbsp;&nbsp;|
            <a href="{% url 'del_user' user.id %}">Delete Account</a>
            {% endif %}
        </div>
    </div>
    <!-- <fieldset> -->
    <div class="heading">
        <div class="container">
            <strong style="margin-right: 9%;">RICE FARMING MANAGEMENT SYSTEM</strong>
        </div>
    </div>

    <header id="header">
        <header id="content">
            <div class="dropdown">
                <button class="dropbtn">Dashboard</button>
                <div class="dropdown-content">
                    <a href="{% url 'plant' %}">Farms & Plants Growth</a>
                    <a href="{% url 'treatment' %}">Treatments</a>
                    <a href="{% url 'medicine' %}">Medicines</a>
                    <a href="{% url 'available' %}">Items On Sale</a>
                    <a href="{% url 'aboutUs' %}">About Us</a>
                    <a href="{% url 'contactUs' %}">Contact Us</a>
                    <a href="{% url 'faqs' %}">FAQs</a>
                    <a href="{% url 'privacy' %}">Privacy Policy</a>
                    <a href="#">Terms & Conditions</a>
                </div>
            </div>
        </header>
    </header>

    <div class="image-content">
        <img src="{% static 'images/world.jpg' %}">
    </div>

    <div id="social">
        <h1>Welcome to our Site!! Farm and Shop with Us...</h1>
        <h4>Our social media platforms</h4>
        <i class="fa fa-map-marker"></i>
        <a href="#" id="whatsapp"><i class="fa fa-whatsapp"></i></a>
        <a href="#" id="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" id="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" id="instagram"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="footer">
        <strong>&copy;Copyright @Charlse 2024 &nbsp;</strong>
    </div>