{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>app_rice</title>
</head>
<body>
    <div id="form">
        
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Log In Page</h1>
            <input type="text" name="username" placeholder="Username"><br><br>
            <input type="password" name="password1" placeholder="Password"><br><br>
            <button type="submit">Log In</button><br><br>
            Not yet a member <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            {% for message in messages %}
            <div class="message">
            {{message}}
            </div>
            {% endfor %}
        </form>
    </div>
</body>
</html>