{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/medicine.css' %}">
    <title>medicine_records</title>
</head>

<body>
    <div class="container">
        <div class="content-header">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'plant' %}">Farms & Plants Growth</a></li>
                <li><a href="{% url 'treatment' %}">Treatments</a></li>
                <li><a href="{% url 'medicine' %}">Medicines</a></li>
                <li><a href="{% url 'available' %}">Items On Sale</a></li>
                <li><a href="{% url 'aboutUs' %}">About Us</a></li>
                <li><a href="{% url 'contactUs' %}">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <fieldset>
        <section class="row">
            <div class="class1">
                <div class="card">
                    <div class="card-body">
                        <p class="text-center-lead">Update Medicine Information</p>
                        <hr>
                        <form action="" method='POST' enctype='multipart/form-data'>
                            {% csrf_token %}
                            {{form.as_p}}
                            <button class="button">Submit</button>
                        </form>
                    </div>
                    <p class="loader">Uploaded Medications</p>
                    <div class="loop">
                        {% for medicines in medicine %}
                        <div class="image_card">
                            <div class="card">
                                <img src="{{ medicines.image.url }}">&nbsp;&nbsp;<br>
                                Drug Used:{{ medicines.drug_used }}&nbsp;&nbsp;<br>
                                Type :{{ medicines.type }}&nbsp;&nbsp;<br>
                                Quantity (ml) :{{ medicines.quantity }}&nbsp;&nbsp;<br>
                                Date :{{ medicines.treatmentDate }}&nbsp;&nbsp;<br>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </fieldset>
    <div class="container-footer">
        <div class="content-footer">
            <ul>
                <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="{% url 'faqs' %}">FAQs</a></li>
            </ul>
        </div>
    </div>
</body>

</html>