{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/plants.css' %}">
    <title>farm and plant-growth</title>
</head>
<body>
    <div class="container">
        <div class="content-header">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'plant' %}">Farms & Plants Growth</a></li>
                <li><a href="{% url 'treatment' %}">Treatments</a></li>
                <li><a href="{% url 'medicine' %}">Medicines</a></li>
                <li><a href="{% url 'available' %}">Items On Sale</a></li>
                <li><a href="{% url 'aboutUs' %}">About Us</a></li>
                <li><a href="{% url 'contactUs' %}">Contact Us</a></li>
                
            </ul>
        </div>
    </div>
    <div class="form">
        <h3>Upload Farm and Plant status</h3>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
        <button>Submit</button>
        </form>
    </div>
    <fieldset> 
        <p><strong>Farms and Plants' Growth</strong></p>
        <div class="loop">
            {% for plants in plant reversed %}
            <div class="image_card">
                <div class="card">
                    <img src="{{ plants.farm_image.url }}">&nbsp;&nbsp;&nbsp;<br>
                    Farm_no: {{ plants.farm_no }}&nbsp;&nbsp;&nbsp;<br>
                    Location : {{ plants.location  }}&nbsp;&nbsp;&nbsp;<br>
                    Username: {{ plants.username }}&nbsp;&nbsp;&nbsp;<br>
                    <br>        
                </div>
            </div>
            {% endfor %}
        </div>
    </fieldset>  
    <div class="container">
        <div class="content-header">
            <ul>
                <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="{% url 'faqs' %}">FAQs</a></li>
            </ul>
        </div>
    </div>
</body>
</html>